.header_container {
  height: 10rem;
  background: var(--first-background);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1,
  .header_icon {
    position: relative;
    top: 2.5rem;
    color: white;
  }
  h1 {
    font-size: 7rem;
  }
  .header_icon {
    font-size: 5rem;
  }
  .active_nav_link {
    text-decoration: underline;
  }
}