body {
  margin: 0;
  font-family: "Montserrat-light", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #00B4DB;
  --secondary-color: #020203;
  --tertiary-color: #FBFBFB;
  overflow: hidden;
  --first-background: #00B4DB;  /* fallback for old browsers */
  --second-background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  --third-background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: var(--first-background);
  background: var(--second-background);
  background: var(--third-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}